<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.client.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.client.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.client.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>controller.admin.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.admin.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAddController</servlet-name>
        <servlet-class>controller.admin.ProductAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteController</servlet-name>
        <servlet-class>controller.admin.ProductDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateController</servlet-name>
        <servlet-class>controller.admin.ProductUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.admin.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAddController</servlet-name>
        <servlet-class>controller.admin.AccountAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDeleteController</servlet-name>
        <servlet-class>controller.admin.AccountDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountUpdateController</servlet-name>
        <servlet-class>controller.admin.AccountUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetail</servlet-name>
        <servlet-class>controller.admin.AccountDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusController</servlet-name>
        <servlet-class>controller.admin.ChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>controller.client.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControllerAdmin</servlet-name>
        <servlet-class>controller.admin.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.client.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdminController</servlet-name>
        <servlet-class>controller.admin.LogoutAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoController</servlet-name>
        <servlet-class>controller.client.InfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>controller.client.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileUpdateController</servlet-name>
        <servlet-class>controller.client.ProfileUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuAddController</servlet-name>
        <servlet-class>controller.client.MenuAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.client.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAdminController</servlet-name>
        <servlet-class>controller.admin.OrderAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrderController</servlet-name>
        <servlet-class>controller.admin.DetailOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutDeleteController</servlet-name>
        <servlet-class>controller.client.CheckoutDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAddController</servlet-name>
        <url-pattern>/admin/productadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteController</servlet-name>
        <url-pattern>/admin/productdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateController</servlet-name>
        <url-pattern>/admin/productupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/admin/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAddController</servlet-name>
        <url-pattern>/admin/accountadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDeleteController</servlet-name>
        <url-pattern>/admin/accountdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountUpdateController</servlet-name>
        <url-pattern>/admin/accountupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetail</servlet-name>
        <url-pattern>/admin/accountdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusController</servlet-name>
        <url-pattern>/admin/changestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdminController</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoController</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileUpdateController</servlet-name>
        <url-pattern>/profileupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuAddController</servlet-name>
        <url-pattern>/menuadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAdminController</servlet-name>
        <url-pattern>/admin/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrderController</servlet-name>
        <url-pattern>/admin/detailorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutDeleteController</servlet-name>
        <url-pattern>/checkoutdelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
